<div id="introDiv">
    <div id="pjDiv">
        <span id="pjSpan">
            <span class="pjLetter" id="bigH">H</span>
            <span class="pjLetter" id="bigE">e</span>
            <span class="pjLetter" id="bigL">l</span>
            <span class="pjLetter" id="bigLTwo">l</span>
            <span class="pjLetter" id="bigO">o</span>
            <span class="pjLetter" >&nbsp;</span>
            <span class="pjLetter" id="bigT">T</span>
            <span class="pjLetter" id="bigHTwo">h</span>
            <span class="pjLetter" id="bigETwo">e</span>
            <span class="pjLetter" id="bigR">r</span>
            <span class="pjLetter" id="bigEThree">e</span>
        </span>
    </div>
</div>