@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

#introDiv {
}

#pjDiv {
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: baseline;
}

#pjSpan {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: pink;
}

.pjLetter {
    line-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    
}

#bigP {
}

#bigJ {
    //transform: translate3d(0, 50px, 0);

}

@include media-breakpoint-up(xs) { 
    #pjDiv {
    }

    .pjLetter {
        font-size: 55px;
    }

    #introDiv {
        background-color: lightblue;
        height: 175px;
    }
 }

@include media-breakpoint-up(sm) {
    #pjDiv {
    } 
    .pjLetter {
        font-size: 70px;
    }

    #introDiv {
        background-color: lightgoldenrodyellow;
        height: 200px;
    }
 }

@include media-breakpoint-up(md) { 
    #pjDiv {
    } 

    .pjLetter {
        font-size: 80px;
    }

    #introDiv {
        background-color: lightsteelblue;
        height: 225px;
    }
 }

@include media-breakpoint-up(lg) {
    #pjDiv {
    } 

    .pjLetter {
        font-size: 90px;
    }

    #introDiv {
        background-color: lightgray;
        height: 250px;
    }
 }

@include media-breakpoint-up(xl) { 
    #pjDiv {
    } 

    .pjLetter {
        font-size: 100px;
    }

    #introDiv {
        background-color: lightcyan;
        height: 275px;
    }
 }